 @defbody {background-color:#fefefe;}
@body-color{color:#333;}
@defBg{
    background: #fcfcfc;
    border-color:#333;
}
@defcontentBg{  background: #fff; }
@lite-gradient   {background: linear-gradient(to bottom, rgba(255,255,255,.2) 0%,rgba(229,229,229,.6) 100%);}
@dark-gradient   {background: linear-gradient(to bottom, rgba(127,127,127,.2) 0%,rgba(225,225,225,.6) 100%)}

 @ui-lighter { #fefefe}
@ui-darker { #ccc}
@ui-lighterbg { background-color:#e3e3e3 }
@ui-darkerbg { background-color:#ccc}
@def-content-style{background-color:#fff;}
@row-style{border-top: 1px solid #999;border-bottom: 1px solid #efefef; }
@resizer-color{#999}
@border-color{#999}
@border-color-darker{#aaa}
@border-color-lighter{#666}
@def-popup-style{ box-shadow:5px 5px 8px #111 ;border:1px solid #111; background-color:#fefefe}
@def-popup-style-content {background-color:#fafafa;border:1px solid #333;box-shadow:5px 5px 8px #111;}
@def-section-header-style{
     background: linear-gradient(to bottom, #33373C 0%,   #657074 100%);
}
@def-section-style {
     background: linear-gradient(to bottom, #33373C 0%,   #657075 100%);
}

@button-style{border:1px solid #ddd;color:#333;background:#ccc;}

@input-disabled{  color: #666;}
@disabled-link{background-color: #ccc !important;color:#999 !important;}
@faded-link{background-color: #ccc;}
@faded2-link{background-color: #eee;}
@hilite-link{background-color: orange;}
@elevated{
    background-color: #333;
     border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.8);
    border: 1px solid #555;
}
@input{background:@fefefe;}

@selectable-selected{
     background: linear-gradient(to bottom, rgba(209,209,209,.3) 0%,rgba(209,209,209,.6) 100%)
}
@hoverable-hover{color: #333;    cursor: default;     background-color: rgba(66,139,202,.4);    border-color: #428bca;}
@layout-location-top{border-bottom:1px solid #bbb}
 @overlay-box{ border:1px solid #999}
 @h3 {border-bottom: 1px solid #eee; }
 @title{ color: #333;
     text-shadow: rgba(0, 0, 0, 0.2) -2px 2px 0, rgba(0, 0, 0, 0) -2px -2px 0, rgba(0, 0, 0, 0.2) 1px 1px 0;
 }
 @color-dim {  #999 }

 @ui-button{
     text-shadow: 0 1px 1px rgba(0,0,0,.3);   box-shadow: 0 1px 2px rgba(0,0,0,.2); background: #20282D;
     background: linear-gradient(to bottom, #ccc 3%, #eee 51%, #ddd 100%);
 }
 @ui-button-selected{background-position: 0 top;    position: relative;
     top: 1px;    color: #fff;

     box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
 ;}
 @ui-button-hover{color: #fff;
     background: #4C5A64;
     background:  linear-gradient(to bottom, #aaa 3%, #ddd 4%, #bbb 100%); }

 @box-shadow{box-shadow: 2px 2px 2px #666;}